*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    justify-items: center;
    border: 20px;
    background-color: black;
    padding: 20px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#screen{
    display: flex;
    justify-content: left;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;      
}

#screen input{
    height: 50px;
    padding: 30px;
    border: none;
    cursor: all-scroll;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;  
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

#keys button{
    padding: 20px;
    margin:auto;
    border-radius: 50%;
    cursor: pointer;  
    padding: 20px;
    border: none;
    background-color: rgba(230, 220, 220, 0.25);
    color: white;  
}

#keys button:hover{
    background-color: rgba(240, 229, 229, 0.849);

}
#keys button:active{
    background-color: white;
    transform: scale(0.98s);
}

#keys .op{
    background-color: orange;
}



